[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "*"
pyopenssl = "*"
werkzeug = "*"
flask-session = "*"
flask-wtf = "*"
cryptography = "*"
requests = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
pyaml = "*"
flask = "*"
tabulate = "*"
pyjwt = "*"
sqlalchemy-utils = "*"
beautifulsoup4 = "*"
csscompressor = "*"
jsmin = "*"
replicate = "*"
dotenv = "*"
pyodbc = "*"
anthropic = "*"
keyring = "*"
flort = "*"
babel = "*"

[dev-packages]

[requires]
python_version = "3.12"
