[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "*"
pyopenssl = "*"
werkzeug = "*"
flask-session = "*"
flask-wtf = "*"
cryptography = "*"
pyodbc = "*"
requests = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
pyaml = "*"
flask = "*"
tabulate = "*"

[dev-packages]

[requires]
python_version = "3.12"
