<main class="app-main">
    {% if page.title or page.description %}
    <div class="page-header">
        {% if page.title %}
        <h1 class="page-title">{{ page.title }}</h1>
        {% endif %}
        
        {% if page.description %}
        <p class="page-description">{{ page.description }}</p>
        {% endif %}
    </div>
    {% endif %}

    <div class="page-content">
        {% block subnav %}{% endblock %}
        
        {% if page.content %}
        {{ page.content|safe }}
        {% endif %}
        
        {{ content|safe }}
        {% block content %}{% endblock %}
    </div>
</main>