<div class="row">
    <div class="col-md-12">
    <!-- Columns Section -->
    <h4>Columns</h4>
    <div id="columns-container" class="sortable-container">
        {% set columns_data = crud_def.columns if crud_def.columns is defined and crud_def.columns is not none and crud_def.columns != false else {} %}
        {% set columns = columns_data.values()|list if columns_data is mapping else columns_data %}
        {% set sorted_columns = columns|sort(attribute='order') %}
        
    {% for column in sorted_columns %}
    <div class="row mb-2 column-row" data-order="{{ column.order|default(loop.index0) }}">
    <div class="col-md-1 handle-col">
        <div class="sort-handle"><i class="fas fa-grip-vertical"></i></div>
        <input type="hidden" name="columns[{{ loop.index0 }}][order]" value="{{ column.order|default(loop.index0) }}" class="column-order-input">
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control" name="columns[{{ loop.index0 }}][name]" placeholder="Name" value="{{ column.name }}">
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control" name="columns[{{ loop.index0 }}][display]" placeholder="Display" value="{{ column.display or column.name }}">
    </div>
    <div class="col-md-2">
        <select class="form-control" name="columns[{{ loop.index0 }}][type]">
          {% for data_type in data_types %}
          <option value="{{ data_type.name }}" {% if column.type == data_type.name %}selected{% endif %}>{{ data_type.display }}</option>
          {% endfor %}
        </select>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control" name="columns[{{ loop.index0 }}][desc]" placeholder="Description" value="{{ column.desc }}">
    </div>
    <div class="col-md-1">
        <button type="button" class="btn btn-danger remove-column">X</button>
    </div>
    </div>
    {% endfor %}
    <!-- Empty column row template -->
    <div class="row mb-2 column-row" data-order="{{ columns|length }}">
    <div class="col-md-1 handle-col">
        <div class="sort-handle"><i class="fas fa-grip-vertical"></i></div>
        <input type="hidden" name="columns[{{ columns|length }}][order]" value="{{ columns|length }}" class="column-order-input">
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control" name="columns[{{ columns|length }}][name]" placeholder="Name">
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control" name="columns[{{ columns|length }}][display]" placeholder="Display">
    </div>
    <div class="col-md-2">
        <select class="form-control" name="columns[{{ columns|length }}][type]">
          {% for data_type in data_types %}
          <option value="{{ data_type.name }}">{{ data_type.display }}</option>
          {% endfor %}
        </select>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control" name="columns[{{ columns|length }}][desc]" placeholder="Description">
    </div>
    <div class="col-md-1">
        <button type="button" class="btn btn-danger remove-column">X</button>
    </div>
    </div>
</div>
<button type="button" id="add-column" class="btn btn-secondary mt-2 mb-4">Add Column</button>


<!-- Variables Section -->
<h4>Variables</h4>
<div id="variables-container" class="sortable-container">
    {% set variables_data = crud_def.variables if crud_def.variables is defined and crud_def.variables is not none and crud_def.variables != false else {} %}
    {% set variables = variables_data.values()|list if variables_data is mapping else variables_data %}
    
    {# Sort variables by their order field before displaying #}
    {% set sorted_variables = variables|sort(attribute='order') %}
    
    {% for variable in sorted_variables %}
    <div class="row mb-2 variable-row" data-order="{{ variable.order|default(loop.index0) }}">
    <div class="col-md-1 handle-col">
        <div class="sort-handle"><i class="fas fa-grip-vertical"></i></div>
        <input type="hidden" name="variables[{{ loop.index0 }}][order]" value="{{ variable.order|default(loop.index0) }}" class="order-input">
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control" name="variables[{{ loop.index0 }}][name]" placeholder="Name" value="{{ variable.name }}">
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control" name="variables[{{ loop.index0 }}][display]" placeholder="Display" value="{{ variable.display }}">
    </div>
    <div class="col-md-2">
        <select class="form-control variable-type-select" name="variables[{{ loop.index0 }}][type]">
          {% for var_type in variable_types %}
          <option value="{{ var_type.name }}" {% if variable.type == var_type.name %}selected{% endif %}>{{ var_type.display }}</option>
          {% endfor %}
        </select>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control default-input" name="variables[{{ loop.index0 }}][default]" 
            placeholder="Default value" value="{{ variable.default }}">
    </div>
    <div class="col-md-2">
        <div class="btn-group">
        <button type="button" class="btn btn-primary btn-edit-variable"><i class="fas fa-edit"></i></button>
        <button type="button" class="btn btn-danger remove-variable">X</button>
        </div>
    </div>
    </div>
    {% endfor %}
    <!-- Empty variable row template -->
    <div class="row mb-2 variable-row" data-order="{{ variables|length }}">
    <div class="col-md-1 handle-col">
        <div class="sort-handle"><i class="fas fa-grip-vertical"></i></div>
        <input type="hidden" name="variables[{{ variables|length }}][order]" value="{{ variables|length }}" class="order-input">
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control" name="variables[{{ variables|length }}][name]" placeholder="Name">
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control" name="variables[{{ variables|length }}][display]" placeholder="Display">
    </div>
    <div class="col-md-2">
        <select class="form-control variable-type-select" name="variables[{{ variables|length }}][type]">
          {% for var_type in variable_types %}
          <option value="{{ var_type.name }}">{{ var_type.display }}</option>
          {% endfor %}
        </select>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control default-input" name="variables[{{ variables|length }}][default]" 
        placeholder="Default value">
    </div>
    <div class="col-md-2">
        <div class="btn-group">
        <button type="button" class="btn btn-primary btn-edit-variable"><i class="fas fa-edit"></i></button>
        <button type="button" class="btn btn-danger remove-variable">X</button>
        </div>
    </div>
    </div>
</div>
<button type="button" id="add-variable" class="btn btn-secondary mt-2 mb-4">Add Variable</button>

<!-- CSS for the drag handle -->
<style>
.sortable-container .variable-row {
    transition: background-color 0.2s;
}
.sortable-container .variable-row.ui-sortable-helper {
    background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.sort-handle {
    cursor: move;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6c757d;
}
.sort-handle:hover {
    color: #495057;
}
</style>
