{% extends "base-layout" %}

{% block title %}{{ page.title }} - {{ super() }}{% endblock %}

{% block page_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>{{ page.title or 'Custom Page' }}</h1>
            {% if page.description %}
            <p class="lead">{{ page.description }}</p>
            {% endif %}
            {# Page fragments will be rendered here #}
            {% for fragment in page.page_fragments if fragment.is_active %}
            <div class="page-fragment" data-fragment="{{ fragment.fragment_key }}">
                {{ fragment.content_source|safe }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
