<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto align-items-center">
        {% set ticket_users = {
            111: '111',
            1428: '1482',
            1685: '1685'
        } %}
        
        {% if session.user_id in ticket_users %}
            <li class="nav-item">
                <a class="nav-link fw-bold d-flex align-items-center" style="color:slategrey" target="_blank" href="/tickets">
                    <i class="fas fa-ticket-alt me-2"></i>Tickets
                </a>
            </li>
        {% endif %}

        <li class="nav-item">
            <a class="nav-link fw-bold d-flex align-items-center" style="color:slategrey" target="_blank" href="https://portal.office.com">
                <i class="fas fa-envelope me-2"></i>WebMail
            </a>
        </li>

        <li class="nav-item">
            {% set icon_color = 'text-danger' if mail.unread > 0 else 'text-greg' %}
            <a href="{{ url_for('messages.home') }}" class="nav-link fw-bold d-flex align-items-center" style="color:slategrey">
                <i class="fas fa-envelope me-2 {{ icon_color }}"></i>
                {{ session.username|upper }} - {{ session.user_id }} - [{{ session.home_loc }}]
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link fw-bold d-flex align-items-center" style="color:slategrey" target="_blank" href="{{ url_for('auth.logout') }}">
                <i class="fas fa-sign-out-alt me-2"></i>Logout
            </a>
        </li>
    </ul>
</div>